@import url('../theme.css');

app-hero-banner {
  height: 90vh;
  margin-top: -12vh;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--otto-primary);
  clip-path: polygon(77.00% 13.20%, 90.00% 0.00%, 86.20% 28.80%, 86.20% 100%, 0.00% 93.80%, 5.00% 13.20%);
  color: var(--white);
  margin: 50px auto;
  margin-top: -100px;
  padding: 3.2rem 6.4rem;
  min-width: 450px;
  margin: auto;
  overflow-x: hidden;
  animation: backgroundFade 10s linear infinite;
}

@keyframes backgroundFade {
  0% {
    background: var(--otto-primary);
    }
  20% {
    background: yellow;
  }
  40% {
    background: pink;
  }
  60% {
    background: blue;
  }
  80% {
    background: green;
  }
  100% {
    background: var(--otto-primary);
  }
}

/* Rest of your CSS code */
.hero-banner__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  width: 22.8rem;
  height: 22.8rem;
}

.hero-banner__image {
  width: 42.8rem;
  height: 22.8rem;
}

.hero-banner__image--small {
  width: 7.6rem;
  height: 7.6rem;
}

.hero-banner__headline {
  letter-spacing: 5.5px;
  color: var(--white);
  margin: 0px 0 8px 0;
  font-size: 8.8rem;
  font-family: 'Besom-Handwritten';
  text-wrap: nowrap;
}

.hero-banner__description {
  max-width: 58rem;
  text-align: center;
  margin-bottom: 3.2rem;
  font-size: 20px;
  line-height: 3.2rem;
}

@media only screen and (max-width: 670px) {
  .hero-banner {
    width: 105%;
    padding: 3.2rem 6.4rem;
    margin-top: -10px;
    overflow-x: hidden;
  }

  .hero-banner__logo {
    width: 9.6rem;
    height: 9.6rem;
    margin: 20px 0px;
    margin-top: 200px;
    margin-right: 10px;
  }

  .hero-banner__image {
    width: 25.2rem;
    height: 15.2rem;
    margin-right: -100%;
  }

  .hero-banner__image--small {
    width: 6rem;
    height: 6rem;
  }

  .hero-banner__headline {
    font-size: 3.2rem;
  }

  .hero-banner__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

#pictures img {
  margin: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
