@import url('../theme.css');

app-home-banner {
  height: 90vh;
  margin-top: -12vh;
}

.home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--otto-primary);
  clip-path: polygon(77% 13.2%, 90% 0%, 86.2% 28.8%, 86.2% 100%, 0% 93.8%, 5% 13.2%);

  color: var(--white);
  padding: 3.2rem 6.4rem;
  min-width: 450px;
  margin: auto;
  overflow: hidden;
  animation: backgroundFade 10s linear infinite;
}

@keyframes backgroundFade {
  0% {
    background: var(--otto-primary);
  }
  20% {
    background: yellow;
  }
  40% {
    background: pink;
  }
  60% {
    background: blue;
  }
  80% {
    background: green;
  }
  100% {
    background: var(--otto-primary);
  }
}

.home-banner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  max-width: 80%;
  margin-top: 20vh;
  margin-left: -10%;
}

.home-banner__headline {
  letter-spacing: 5.5px;
  color: var(--white);
  font-size: 8.8rem;
  font-family: 'Besom-Handwritten';
  text-wrap: nowrap;
}

.home-banner__description {
  max-width: 58rem;
  margin-bottom: 3.2rem;
  font-size: 20px;
  line-height: 3.2rem;
}

.home-banner a {
  margin: 2rem auto;
  width: fit-content;
}

@media only screen and (min-height: 1300px) {
  .home-banner {
    height: 80vh;
    padding: 4rem 8rem;
    margin-top: 10vh;
  }

  .home-banner__headline {
    font-size: 10rem;
  }

  .home-banner__description {
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
}

@media only screen and (max-width: 670px) {
  .home-banner {
    clip-path: polygon(77% 13.2%, 90% 0%, 86.2% 28.8%, 86.2% 100%, 0% 93.8%, 5% 13.2%);
    padding: 2rem;
    margin-top: 10vh;
    margin-left: 0%;
    width:90%;
  }

  .home-banner__wrapper {
    margin-top: 20vh;
    margin-left: -10%;

  }

  .home-banner__headline {
    font-size: 6.8rem;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 10%;
 }

  .home-banner__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
