.page-polylog__button {
    min-width: 8.4rem;

    border: 0.1rem solid var(--black);
    color: var(--white);
    background-color: var(--otto-primary);
    width: fit-content;
    font-size: 1.6rem;
  
    margin-right: 1.6rem;
  
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
    padding: 0.8rem 0;
    border-radius: 0.8rem;
    text-align: center;
  
    cursor: pointer;
    user-select: none;
    border: 0;
    border-radius: 0.8rem;
  
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--white);
  
    cursor: pointer;
    user-select: none;
  
    transition: background 0.3s ease-out, color 0.3s ease-out;
  
    /* responsive */
  
    min-width: 10rem;
    padding: 1.6rem 1.6rem;
  
    font-size: 1.6rem;
    line-height: 2rem;
    margin: auto;
    margin-left: -10px; 

  }

  #kommentar-container{
    width:500px;
    height:500px;
    border-radius: 50%;
    border:1px solid var(--otto-primary);
    color: black;
  }
  #kommentar{
    border-radius: 50%;
    border:1px solid var(--otto-primary);
    color: black;
    width:250px;
    height:250px;
  }
