/* In your CSS file */
input.ng-invalid.ng-touched {
    border-color: red;
  }
  
  button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  .bi-chevron-down {
    transition: transform 0.3s ease;
  }
  
  .rotated {
    transform: rotate(180deg);
  }
