.page-plakate__button {
  min-width: 8.4rem;

  border: 0.1rem solid var(--black);
  color: var(--white);
  background-color: var(--otto-primary);
  width: fit-content;
  font-size: 1.6rem;

  margin-right: 1.6rem;

  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  padding: 0.8rem 0;
  border-radius: 0.8rem;
  text-align: center;

  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: 0.8rem;

  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--white);

  cursor: pointer;
  user-select: none;

  transition: background 0.3s ease-out, color 0.3s ease-out;
  
  min-width: 10rem;
  padding: 1.6rem 1.6rem;

  font-size: 1.6rem;
  line-height: 2rem;
  margin: auto;
  margin-left: -10px;  
  }
  
  #svg-container {
    border: 1px solid #ccc;
    background-color: var(--otto-secondary);
    position: relative; 
    overflow: hidden; 
    margin: auto;
    margin-top: 20px;
  }

  .file-upload-container {
    text-align: center;
  }
  
  .file-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: var(--otto-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .file-upload-btn:hover {
    background-color: var(--otto-secondary);

  }
  .wrapper{
    margin-top: 10px;
    text-align: center;
  }
  .canvas-wrapper{
    margin: auto;
    margin-bottom: 50px;
    width: 500px;
    color: black;
    
  }
  .canvas-wrapper input{
    width: 100px;
  }
/*   .custom-cursor {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16"><path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04"/></svg>'), auto;
  } */
  canvas{
    border:1px solid black;
    margin: auto;
    border:20px double rgb(173, 173, 234);
  }
  h3{
    margin-left: 25px;
  }
  button{
    margin:15px;
    padding:5px;
    cursor: pointer;
  }
  #controlls{
    display: flex;
  }
  #stroke-color::-webkit-color-swatch-wrapper {
    padding: 0; 
    border: none; 
    width: 30px;
    height: 30px; 
    background: transparent; 
  }
  
  #stroke-color::-webkit-color-swatch {
    border: none;
    border-radius: 50%; 
    width: 30px;
    height: 30px; 
  }
  #stroke-color{
    background-color: white;
  }
  #controlls input{
    border: none;
  }

  .bubble {
    width: 200px;
    height: 150px;
    background-color: #ff0055;
    position: relative;
    margin: 50px;
  }

  .bubble::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ff0055;
    position: absolute;
    bottom: 0;
    right: 20px;
    clip-path: polygon(0 0, 100% 0%, 50% 100%);
    transform: translateY(100%);
  }