<div class="nav-bar__tabs">
  <app-nav-bar-tab target="_blank" path="/plakate" label="Plakate"></app-nav-bar-tab>
  <app-nav-bar-tab target ="_blank" path="/public" label="Polylog"></app-nav-bar-tab>
  <app-nav-bar-tab path="/profile" label="Profil"></app-nav-bar-tab>
  <app-nav-bar-tab path="/archiv" label="Archiv"></app-nav-bar-tab>
  <ng-container *ngIf="isAuthenticated$ | async">
    <app-nav-bar-tab path="/protected" label="Protected"></app-nav-bar-tab>
    <app-nav-bar-tab path="/admin" label="Admin"></app-nav-bar-tab>
  </ng-container>
</div>
