<div class="wrapper">
  <div id="sticker">
    <h2>Sticker</h2>
    <div id="qr">
      <a href="www.qrcode-generator.de/" style="cursor: default" rel="nofollow"></a><img
        src="https://ottoblob.blob.core.windows.net/images/frame.png" />
      <p style="color: black; font-size: 2rem">
        Scanne den QR-Code, und lade dir unser Whatsapp Sticker Paket direkt auf
        dein Smartphone!
      </p>
      <span style="color: blueviolet; font-size: 2rem">oder</span>
    </div>
    <button class="page-plakate__button" style="min-width: 218px; margin: 10px; background-color: royalblue"
      (click)="addImageSticker()">
      <svg style="margin-bottom:-4px; margin-right: 6px; font-weight:bold;" xmlns="http://www.w3.org/2000/svg"
        width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
      </svg>
      Sticker hinzufügen
    </button>
    <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue">
      <a href="https://ottoblob.blob.core.windows.net/sticker/otto-sticker-collection.zip">
        <svg style="margin-bottom: -4px; font-weight: bold; margin-right:14px;" xmlns="http://www.w3.org/2000/svg"
          width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
          <path
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
        </svg>
        Sticker herunterladen</a>
    </button>
    <br />
    <div class="sticker-container" cdkDropList>
      <div cdkDropList #availableStickersList="cdkDropList" [cdkDropListData]="currentImages"
        [cdkDropListConnectedTo]="[canvasStickersList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of currentImages" cdkDrag>
          <img [src]="item" alt="Sticker" style="width: 100px" />
        </div>
      </div>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
      </button>
      <span style="font-size: 1.5rem">{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
      </button>
    </div>
    <br />
    <br />
  </div>
  <div id="otto-plakat">
    <input [(ngModel)]="drawingTitle" type="text" placeholder="Dein Titel ..." id="drawingTitle" />
    <div id="canvas" class="canvas-wrapper" cdkDropList #canvasStickersList="cdkDropList"
      [cdkDropListData]="canvasStickers" [cdkDropListConnectedTo]="[availableStickersList]"
      (cdkDropListDropped)="drop($event)" (mouseup)="onCanvasMouseUp($event)">
      <div class="example-box" *ngFor="let item of canvasStickers" cdkDrag>
        <img *ngIf="item" [src]="item" alt="Sticker" class="sticker-image" />
      </div>
      <canvas id="drawingCanvas" #drawingCanvas class="custom-cursor"></canvas>
    </div>
  </div>
  <div id="controlls">
    <h2>Einstellungen</h2>
    <div id="stroke">
      <p style="
          color: black;
          text-align: start;
          font-size: 2rem;
          margin-bottom: -20px;
        ">
        Pinsel Grösse:
      </p>
      <br />
      <input type="number" id="strokeSize" [(ngModel)]="strokeSize"
        style="width: 100px; color: royalblue; float: left" /><br /><br /><br /><br /><br /><br />
      <p style="
          color: black;
          text-align: start;
          font-size: 2rem;
          margin-bottom: 0px;
        ">
        Pinsel Farbe:
      </p>
      <br />
      <input style="width: fit-content; float: left" placeholder="Farbe" type="color" id="stroke-color"
        [(ngModel)]="strokeHexColor" (ngModelChange)="updateStrokeColor($event)" /><br /><br /><br /><br /><br /><br />
      <p style="
      color: black;
      text-align: start;
      font-size: 2rem;
      margin-bottom: 0px;
    ">
        Radiergummi:
      </p>
      <br>
      <svg style="margin-bottom:-4px; margin-left: 16px; color: black; float: left; font-weight:bold;" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path
          d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
      </svg>
    </div>
    <div style="float: left; margin-top: 55px; margin-left: -40px" id="buttons">
      <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="openDialog()">
        <svg style="margin-bottom:-4px; margin-right: 6px; font-weight:bold;" xmlns="http://www.w3.org/2000/svg"
          width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
        {{ isPostcard ? "Neue Postkarte" : "Neues Plakat" }}
      </button>
      <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="saveDrawing()">
        <svg style="margin-bottom:-4px; margin-right: 6px; font-weight:bold;" xmlns="http://www.w3.org/2000/svg"
          width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path
            d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z" />
        </svg>
        {{ isPostcard ? "Postkarte speichern" : "Plakat speichern" }}</button><br />
      <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="undo()">
        <svg style="margin-bottom:-4px; margin-right: 6px; font-weight:bold;" xmlns="http://www.w3.org/2000/svg"
          width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
          <path
            d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
        </svg>
        Schritt zurück
      </button>
      <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="redo()">
        <svg style="margin-bottom:-4px; margin-right: 6px; font-weight:bold;" xmlns="http://www.w3.org/2000/svg"
          width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
        </svg>
        Schritt vorwärts
      </button>
      <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="exportCanvasAsImage()">
        <svg style="margin-bottom: -4px; font-weight: bold; margin-right:14px;" xmlns="http://www.w3.org/2000/svg"
          width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
          <path
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
        </svg>
        {{ isPostcard ? "Postkarte herunterladen" : "Plakat herunterladen" }}
      </button>
      <div id="postcard">
        <h2>Nur Für Institute:</h2>
        <button *ngIf="!hasPostCardAccess" class="page-plakate__button" style="
        min-width: 180px;
        margin: 10px;
        margin: 30px 10px 20vh 10px;
        background-color: royalblue;
      " (click)="switchFormat()">
              <svg style="margin-bottom: -4px; font-weight: bold; margin-right:14px;" xmlns="http://www.w3.org/2000/svg"
              width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
            </svg>
          {{ isPostcard ? "Wechsel zu Plakat" : "Wechsel zu Postkarte" }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" style="display: flex; flex-direction: column; margin-top: 25vh;">
  <h1>Hallo Institut. Forme dein Logo um.</h1>
  <p style="color:black; font-size: large;">Lade dein Logo im svg Format hoch, der Algorithmus generiert ein komplett
    neues Kunstwerk, welches dann als Bild Datei herunterladen werden kann.</p>
  <h4>Viel Spass !</h4>
  <div class="file-upload-container">
    <input type="file" id="svgFileInput" (change)="onLogoFileSelected($event)" accept=".svg" hidden />
    <canvas id="logoCanvas" hidden></canvas>
    <label style="background-color: royalblue; margin-bottom: 10px;" for="svgFileInput" class="file-upload-btn"> <svg
        style="margin-bottom: -5px; margin-right:5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
        <path
          d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z" />
      </svg> SVG Datei hochladen</label>
    <br />
  </div>
  <div *ngIf="svgContent" id="svg-container" [style.height]="svgHeight" [style.width]="svgWidth">
    <div [innerHTML]="svgContent | safeHtml"></div>
  </div>
  <div class="buttons">
    <button class="page-plakate__button" style="
      min-width: 180px;
      margin: 10px;
      background-color: royalblue;" (click)="rearrangePaths()">Logo Umgestalten</button>
    <button class="page-plakate__button" style="
      min-width: 180px;
      margin: 10px;
      margin-bottom: 10vh;
      background-color: royalblue;" (click)="revertToOriginal()">Original Wiederherstellen</button>
    <button class="page-plakate__button" style="min-width: 180px; margin: 10px; background-color: royalblue;"
      (click)="downloadLogoAsPNG()">Logo herunterladen</button>
  </div>
  <div class="plakat-editing-wrapper">
    <canvas></canvas>
  </div>
</div>

<app-new-poster-dialog [isOpen]="isDialogOpen" (close)="handleDialogClose($event)"></app-new-poster-dialog>
