<div class="wrapper">
  <div id="sticker">
    <h2>Sticker</h2>
    <div id="qr">
      <a
        href="www.qrcode-generator.de/"
        style="cursor: default"
        rel="nofollow"
      ></a
      ><img src="https://ottoblob.blob.core.windows.net/images/frame.png" />
      <p style="color: black; font-size: 2rem">
        Scanne den QR-Code, und lade dir unser Whatsapp Sticker Paket direkt auf
        dein Smartphone!
      </p>
      <span style="color: blueviolet; font-size: 2rem">oder</span>
    </div>
    <button
      class="page-plakate__button"
      style="min-width: 180px; margin: 10px; background-color: royalblue"
      (click)="addImageSticker()"
    >
      Sticker hochladen
    </button>
    <button
      class="page-plakate__button"
      style="min-width: 180px; margin: 10px; background-color: royalblue"
    >
      <a
        href="https://ottoblob.blob.core.windows.net/sticker/otto-sticker-collection.zip?sp=r&st=2024-05-13T12:59:25Z&se=2024-05-13T20:59:25Z&spr=https&sv=2022-11-02&sr=b&sig=f3zu96Y2NzIeuukJP4Dovi%2BQAGWaywdGot03hDtWB04%3D"
        >Sticker herunterladen</a
      >
    </button>
    <br />
    <div class="sticker-container" cdkDropList>
      <div
        cdkDropList
        #availableStickersList="cdkDropList"
        [cdkDropListData]="currentImages"
        [cdkDropListConnectedTo]="[canvasStickersList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of currentImages" cdkDrag>
          <img [src]="item" alt="Sticker" style="width: 100px" />
        </div>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="previousPage()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
          />
        </svg>
      </button>
      <span style="font-size: 1.5rem"
        >{{ currentPage }} / {{ totalPages }}</span
      >
      <button (click)="nextPage()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
          />
        </svg>
      </button>
    </div>
    <br />
    <br />
  </div>

  <div id="otto-plakat">
    <input
      [(ngModel)]="drawingTitle"
      type="text"
      placeholder="Dein Titel ..."
      id="drawingTitle"
    />
    <div
      id="canvas"
      class="canvas-wrapper"
      cdkDropList
      #canvasStickersList="cdkDropList"
      [cdkDropListData]="canvasStickers"
      [cdkDropListConnectedTo]="[availableStickersList]"
      (cdkDropListDropped)="drop($event)"
      (mouseup)="onCanvasMouseUp($event)"
    >
      <div class="example-box" *ngFor="let item of canvasStickers" cdkDrag>
        <img *ngIf="item" [src]="item" alt="Sticker" class="sticker-image" />
      </div>
      <canvas id="drawingCanvas" #drawingCanvas class="custom-cursor"></canvas>
    </div>
    <button
      class="page-plakate__button"
      style="
        min-width: 180px;
        margin: 10px;
        margin-top: -30px;
        background-color: royalblue;
      "
      (click)="switchFormat()"
    >
      {{ isPostcard ? "Wechsel zu Plakat" : "Wechsel zu Postkarte" }}
    </button>
  </div>

  <div id="controlls">
    <h2>Einstellungen</h2>
    <div id="stroke">
      <p
        style="
          color: black;
          text-align: start;
          font-size: 2rem;
          margin-bottom: -20px;
        "
      >
        Pinsel Grösse:
      </p>
      <br />
      <input
        type="number"
        id="strokeSize"
        [(ngModel)]="strokeSize"
        style="width: 100px; color: royalblue; float: left"
      /><br /><br /><br /><br /><br /><br />
      <p
        style="
          color: black;
          text-align: start;
          font-size: 2rem;
          margin-bottom: 0px;
        "
      >
        Pinsel Farbe:
      </p>
      <br />
      <input
        style="width: fit-content; float: left"
        placeholder="Farbe"
        type="color"
        id="stroke-color"
        [(ngModel)]="strokeColor"
      />
    </div>
    <div style="float: left; margin-top: 55px; margin-left: -40px" id="buttons">
      <button
        class="page-plakate__button"
        style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="openDialog()"
      >
        {{ isPostcard ? "Neue Postkarte" : "Neues Plakat" }}
      </button>
      <button
        class="page-plakate__button"
        style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="saveDrawing()"
      >
        {{ isPostcard ? "Postkarte speichern" : "Plakat speichern" }}</button
      ><br />
      <button
        class="page-plakate__button"
        style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="enableEraser()"
      >
Rückgängig      </button>
      <button
        class="page-plakate__button"
        style="min-width: 180px; margin: 10px; background-color: royalblue"
        (click)="exportCanvasAsImage()"
      >
        {{ isPostcard ? "Postkarte exportieren" : "Plakat exportieren" }}
      </button>
    </div>
  </div>
</div>

<app-new-poster-dialog
  [isOpen]="isDialogOpen"
  (close)="handleDialogClose($event)"
></app-new-poster-dialog>
