<div class="wrapper">
  <div class="file-upload-container">
    <input
      type="file"
      id="svgFileInput"
      (change)="onFileSelected($event)"
      accept=".svg"
      hidden
    />
    <canvas id="paperCanvas" hidden></canvas>
    <label for="svgFileInput" class="file-upload-btn">Upload SVG File</label>
  </div>
  <div id="svg-container" [style.height]="svgHeight" [style.width]="svgWidth">
    <div [innerHTML]="svgContent | safeHtml"></div>
  </div>
  <button (click)="rearrangePaths()">Rearrange Paths</button>
  <button (click)="revertToOriginal()">Revert to Original</button>
  <ul>
    <li *ngFor="let path of svgPaths; let i = index">
      Path {{ i + 1 }}: <code>{{ path }}</code>
    </li>
  </ul>
</div>
<h3>Sticker</h3>
<div class="canvas-wrapper">
  <canvas  #drawingCanvas height="600px" width="500px" class="custom-cursor"></canvas>
  <h2>Controlls</h2>
  <div id="controlls">
    <div id="stroke">
      <p for="strokeSize">Stroke Size:</p><br/>
      <input type="number" id="strokeSize" [(ngModel)]="strokeSize" />
    </div>
    <div id="color">
      <p for="strokeColor">Stroke Color:</p><br/>
      <br/>
      <input type="color" id="stroke-color" [(ngModel)]="strokeColor"/>
    </div>
  </div>
  <button (click)="addImageSticker()">Add Image Sticker</button>
  <button (click)="clearCanvas()">Clear Canvas</button>
  <button (click)="enableEraser()">Undo Last</button>
</div>
