<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Polylog</h1>
    <div class="content__body">
      <p id="page-description">
        <span style="font-size: 1.3em; font-weight:bold;">Polylog ? </span>
        <br>
        Unter dem Wort Polylog verstehen wir einen Austausch zwischen vielen, eine Unterhaltung unter mehr als zwei Teilnehmenden.<br>
        <br>
        In unserem Polylog sollen sich alle Menschen, die mit OTTO im Kontakt sind, oder noch in Kontakt kommen wollen, gegenseitig informieren und inspirieren können zu allem, was gerade in und um OTTO passiert. <br/><br/>
        Zu der jeweils aktuellen Forschungsfrage, die ein*e Künstler*in mitbringt, wird dann nicht nur in Gruppen in den physischen Denk- und Aktionsräumen von OTTO geforscht, gearbeitet, erfahren, gedacht und kommuniziert.
        <br/><br/>
        Der Polylog soll das Geschehen über diese Räume hinaustragen und ermöglichen, dass auch Besucher*innen auf das Geschehen einwirken können. Er soll noch mehr Menschen auf den künstlerischen Forschungsreisen in und um Ottersberg mit einbeziehen und vor allem das Erlebnis dokumentieren.
        <br/><br/>
        Hier kann kommentiert werden, Material geteilt und aufeinander Bezug genommen werden und der Prozess sich so weiterentwickeln und verdichten. Am Ende einer Forschungsphase wird der Polylog dann zur Grundlage für die finale Dokumentation.
      </p>
    </div>
    <a
    routerLink="polylog"
    class="page-polylog__button"
    target="_blank"
    rel="noopener noreferrer"
  >
   zum Polylog
  </a>
  </div>
</app-page-layout>
