<!-- <div *ngFor="let kommentar of kommentare; trackBy: trackById">
  <div #draggableElement class="commentar" [ngStyle]="kommentar.style">
        <h4>{{kommentar.title}}</h4>
        <p [innerHTML]="getSafeHtml(kommentar.comment)"></p>
        <p>Datum: {{kommentar.createdAt | date}}</p>
        <br/>
        <div class="icons">
          <svg (click)="toggleMenu(kommentar.id!)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
          </svg>
          <div *ngIf="isMenuOpen && activeCommentId === kommentar.id" class="menu" [class.show]="isMenuOpen">
            <button (click)="editKommentar(kommentar.id)">Edit</button>
            <button (click)="openReplyDialog(kommentar.id)">Reply</button>
            <button (click)="deleteKommentar(kommentar.id)">Delete</button>
          </div>
        </div>

    <div class="replies">
      <div *ngFor="let reply of kommentar.replies" class="reply-comment">
        <h4>{{ reply.title }}</h4>
        <p [innerHTML]="getSafeHtml(reply.comment)"></p>
        <p>Datum: {{ reply.createdAt | date }}</p>
        <div class="icons">
        <svg *ngIf="kommentar.id !== undefined" (click)="openReplyDialog(kommentar.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
          <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
        </svg>
        <svg (click)="deleteKommentar(kommentar.id!)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
        </svg>
      </div>
      </div>
    </div>
      </div>
    </div>
 -->
