/* You can add global styles to this file, and also import other style files */
img {
  image-rendering: crisp-edges; /* For Chrome, Firefox */
  image-rendering: -webkit-optimize-contrast; /* For Safari */
  image-rendering: pixelated; /* Fallback for pixelated scaling */
}
/* Example cursor styling */
body.black-canvas-cursor {
  cursor: url('/assets/cursors/white-cursor.png'), auto;
}
