<div id="wrapper" style="background-color: #ff9abc;overflow-x: hidden;height: 100%;">
  <div id="button-div" *ngIf="!freezePolylog">
    <button (click)="openDialog()" class="comment-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text-fill" viewBox="0 0 16 16">
        <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"/>
      </svg><span style="margin: 0px 0px 10px 10px;">Kommentieren</span></button>
    <div *ngIf="this.mediaisLoading" class="loading-indicator" style="z-index:1000;">
      Datei wird hochgeladen  <span class="loading-dots"></span>
    </div>
    <input
      style="display: none"
      type="file"
      (change)="onMediaSelected($event)"
      accept="image/*,video/*,audio/*"
      #fileInput
    />

    <button
      *ngIf="!selectedMedia"
      class="comment-button"
      (click)="fileInput.click()"
    >
    <svg style="margin-bottom: -5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
      <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z"/>
    </svg><span style="margin: -10px 0px 10px 10px;">Datei hochladen</span>


    </button>
    <button
      *ngIf="selectedMedia"
      (click)="uploadMedia()"
      class="comment-button"
    >
    <svg style="margin-bottom: -5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
      <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z"/>
    </svg>
    <span style="margin: -10px 0px 10px 10px;">
      {{ selectedMedia.name }}
    </span>

    </button>
    <button
      *ngIf="selectedMedia"
      (click)="cancelUpload()"
      class="comment-button"
    >
      Abbrechen
    </button>
  </div>

  <h1 *ngIf="!this.mediaisLoading" id="forschungsfrage">{{ forschungsfrage }}</h1>
  <img
    *ngIf="imagePath"
    class="forschungsfrage-logo"
    [src]="imagePath"
    alt="Uploaded Image"
    title="Das ist das Logo der Forschungsfrage"
  />
  <ng-container *ngFor="let kommentar of kommentare; trackBy: trackById">
    <ng-container
      *ngTemplateOutlet="commentTemplate; context: { $implicit: kommentar }"
    ></ng-container>
  </ng-container>

  <!-- Displaying Uploaded Media -->
  <div
    #draggableMediaElement
    *ngFor="let mediaUrl of imageUrls; let i = index"
    [attr.data-file-id]="i"
    [ngStyle]="imagePositions[i]"
    class="image-div"
  >
  <div class="icon" style="position: absolute; left:-50px; top:-100px;">
    <svg (click)="deleteMedia(mediaUrl)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg>
  </div>

    <img
      *ngIf="isImage(mediaUrl)"
      [src]="mediaUrl"
      alt="Uploaded Image"
      style="height:500px; width: 500px;"
    />
  </div>

  <!-- Displaying Uploaded Videos -->
  <div
    #draggableMediaElement
    *ngFor="let mediaUrl of videoUrls; let i = index"
    [attr.data-file-id]="i"
    [ngStyle]="videoPositions[i]"
    class="video-div"
    style="width: fit-content; height: 300px; background-color: none;"
  >

    <video
      *ngIf="isVideo(mediaUrl) && this.videoUrls"
      controls
      style="height: 300px; width: fit-content; margin:10px;
      "
    >
      <source [src]="mediaUrl" type="video/mp4" />
    </video>
    <svg (click)="deleteMedia(mediaUrl)" style="cursor: pointer; position: absolute; top: 15%; left: 5%;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854z"/>
    </svg>
  </div>

  <!-- Displaying Uploaded Audio -->
  <div
    #draggableMediaElement
    *ngFor="let mediaUrl of audioUrls; let i = index"
    [attr.data-file-id]="i"
    [ngStyle]="audioPositions[i]"
    class="audio-div"
  >
  <svg (click)="deleteMedia(mediaUrl)" style="cursor: pointer; position: absolute; top: 10%; left: 20%; z-index: 450;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
  </svg>
    <audio
      *ngIf="isAudio(mediaUrl)"
      controls
    >
      <source [src]="mediaUrl" type="audio/mpeg" />
    </audio>
  </div>

  <app-comment-dialog
    #commentDialog
    [isOpen]="isDialogOpen"
    (close)="closeDialog()"
    (commentSubmitted)="onCommentSubmitted($event)"
  >
  </app-comment-dialog>

  <ng-template #commentTemplate let-comment let-isReply="isReply">
    <div
      #draggableCommentElement
      class="commentar-wrapper"
      [attr.data-comment-id]="comment.id"
      [ngStyle]="comment.style"
      [class.commentar]="!isReply"
      [class.replies]="isReply"
    >
      <!-- Inner wrapper with content -->
      <div class="commentar-content-wrapper">
        <h4>{{ comment.title }}</h4>
        <p [innerHTML]="getSafeHtml(comment.comment)"></p>
        <p>Datum: {{ comment.createdAt | date }}</p>
        <br />
        <div class="icons">
          <svg
            (click)="toggleMenu(comment.id!)"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-three-dots"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
            />
          </svg>
          <div
            *ngIf="isMenuOpen && activeCommentId === comment.id"
            class="menu"
            [class.menu]="!isReply"
            [class.reply-menu]="isReply"
            [class.show]="isMenuOpen"
          >
            <button (click)="editKommentar(comment.id)">Edit</button>
            <button (click)="openReplyDialog(comment.id)">Reply</button>
            <button (click)="deleteKommentar(comment.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="comment.replies && comment.replies.length">
      <ng-container
        class="replies"
        *ngFor="let reply of comment.replies; trackBy: trackById"
      >
        <ng-container
          *ngTemplateOutlet="
            commentTemplate;
            context: { $implicit: reply, isReply: true }
          "
        ></ng-container>
      </ng-container>
    </div>
  </ng-template>
</div>
