<app-page-layout>
    <div class="content-layout">
      <h1 id="page-title" class="content__title">Plakate Erstellen</h1>
      <div class="content__body">
        <p id="page-description">
          <span>Diese Seite holt sich die Öffentliche <strong>Forschungsfrage</strong> von der Datenbank und zeigt sie über eine externe Schnittstelle hier an.</span>
          <span><strong>Jeder Besucher hat Zugang zu dieser Seite.</strong></span>
        </p>
      </div>
    <a
    routerLink="mein-plakat"
    class="page-plakate__button"
    target="_blank"
    rel="noopener noreferrer"
  >
    Los gehts
  </a>
</div>
  </app-page-layout>
  