<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Digitale PLAKATWERKSTATT:</h1>
    <div class="content__body">
      <p id="page-description">
        In OTTOs digitaler Plakatwerkstatt darf jede*r, ob Kursteilnehmer*in
        oder Besucher*in, eigene Plakate gestalten. Dazu können Fotos und Bilder
        hochgeladen und genutzt werden, es stehen Stickerpakete bereit, die OTTO
        zu der aktuellen Forschungsfrage erstellt, und mit verschiedenen
        Pinselfarben und -größen kann auch direkt auf der digitalen Bildfläche
        neues entstehen. Die gestalteten Plakate können gespeichert und
        heruntergeladen werden. So wird die Plakatgalerie immer größer und Du
        kannst Deinen eigenen kreativen Einfluss in den Ort geben.
      </p>
    </div>
    <a
      routerLink="mein-plakat"
      class="page-plakate__button"
      target="_blank"
      rel="noopener noreferrer"
    >
      Los gehts
    </a>
    <div class="bubble">
      <div class="content">
        <h3>Werde teil des TRANSFORMATIONS<br/>ZENTRUM:</h3>
        <p>
          Plakate sind für OTTO ein wichtiger Transformationskanal, um
          entstandene Werke weiter bzw. zurück in den Ort zu geben. Mal mit
          offenen Fragestellungen, mal als rein bildlicher Dialog. Auf Plakaten
          entstehen neue Zusammenhänge und Begegnungen, die vor allem auf OTTOs
          Plakatsäule mitten in Ottersberg auftauchen, aber immer wieder auch an
          anderen Orten. So ist stets für alle Menschen sichtbar, was gerade bei
          OTTO passiert, welche Themen bearbeitet, welche Fragen erforscht
          werden.
        </p>
      </div>
    </div>
  </div>
</app-page-layout>
